

<div>
    <div class="container-fluid">
        
        <div class="row row-centered">
            <div class="col-sm-4 col-centered">
              <h2>Kora</h2>
              
            </div>
            <div class="col-sm-4 col-centered">
              <h2>Mazie</h2>
            </div>
            <div class="col-sm-4 col-centered">
              <h2>Together</h2>
            </div>
        </div>
        
        <div class="row row-centered">
            <div class="col-sm-4 col-centered">
                
            </div>
            <div class="col-sm-4 col-centered">
                
            </div>
            <div class="col-sm-4 col-centered">
                
            </div>
        </div>
            
       
    </div>
</div>






