<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Kora and Mazie", root_path, id: "logo" %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Kora", kora_path %></li>
        <li><%= link_to "Mazie", mazie_path %></li>
        <li><%= link_to "Together", together_path %></li>
      </ul>
    </div>
</header>